body
  margin: 0
  font-family: sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.lr
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: #2e0f63
  &-form
      min-width: 300px
      max-width: 450px
      width: 300px
      padding: 15px
      border-radius: 5px
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
      display: flex
      flex-direction: column
      gap: 20px
      background: #2e0f6300
  &-input
      padding: 10px
      border-radius: 5px
      border: 1px solid #fff
      font-size: 16px
      background: none
      color: white
      &:focus
          outline: 1px solid rgba(0, 0, 0, 0.5)
  &-btn
      padding: 7px
      width: 120px
      font-size: 16px
      border-radius: 20px
      background-color: #8323e3
      color: #fff
      margin: 0 auto
      transition: 0.3s
      border: 1px solid rgba(0, 0, 0, 0.2)
      cursor: pointer
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
      &:hover
        transform: scale(1.1)
      &:active
        transform: scale(0.95)
        background: #8323e38d
.login-btn
  background-color: #232ce3
  text-decoration: none
  list-style: none
  color: white
  padding: 10px 5px
  width: 130px
  border-radius: 20px
  margin: 0 auto
  font-size: 14px
  text-align: center
  transition: 200ms
  &:hover
    transform: scale(1.07)
  &:active
    transform: scale(0.95)
    background: #232de3a4
h1
  text-align: center
  font-size: 40px
  font-weight: 500
  letter-spacing: 2px
  color: white